.anz-background {
  background: url(./img/backgroung.jpg) no-repeat center top;
  background-size: cover;
  padding: 45px 0px; }

/*road*/
.container_style {
  background: url(./img/backgroung-road.jpg) no-repeat center top; }

.anz-fin {
  font-family: "RobotoBold";
  font-size: 47px;
  letter-spacing: .065em;
  color: #fff;
  padding-top: 115px;
  display: block;
  margin-left: 56px; }

.anz-solve {
  font-family: "RobotoRegular";
  font-size: 25.5px;
  letter-spacing: .05em;
  color: #fff;
  margin-top: 10px;
  display: block;
  margin-left: 55px; }

.anz-button {
  display: block;
  width: 338px;
  height: 63px;
  background: #0f4085 url(./img/button-arrow.png) no-repeat 94.5% 28px;
  line-height: 63px;
  border-radius: 3px;
  color: #fff;
  margin-left: 50px;
  margin-top: 38px;
  font-family: "RobotoMedium";
  font-size: 15px;
  padding-left: 26px;
  letter-spacing: -.02em;
  border-bottom: 2px solid #0c3268;
  text-transform: uppercase; }

.no-one {
  font-family: "RobotoLight";
  font-size: 18px;
  color: #fff;
  margin-left: 55px;
  margin-top: 20px;
  display: block;
  padding-bottom: 120px; }

/*road*/
/*slider*/
/*slider*/
.anz-none {
  display: none !important; }

.anz-items {
  position: relative;
  overflow: hidden;
  height: 500px; }

.anz-item {
  position: absolute;
  top: 0%;
  left: calc(33.3% + ((33.3% - 333px)/2));
  width: 33.3%;
  height: 500px;
  z-index: 100;
  transition: left .5s ease-out;
  opacity: 1; }

.anz-item-before {
  left: calc(0% + ((33.3% - 333px)/2));
  z-index: 100;
  opacity: 1; }

.anz-item-before2 {
  left: calc(-33.3% + ((33.3% - 333px)/2));
  z-index: 50 !important;
  opacity: 1; }

.anz-item-after {
  left: calc(66.6% + ((33.3% - 333px)/2));
  z-index: 100;
  opacity: 1; }

.anz-item-after2 {
  left: calc(100% + ((33.3% - 333px)/2));
  z-index: 50 !important;
  opacity: 1; }

.anz-item-hidden {
  display: none;
  opacity: 0;
  z-index: 30 !important; }

.anz-left-arrow {
  cursor: pointer; }

.anz-left-arrow_margin {
  background: url(./img/left-arrow.png) no-repeat;
  position: absolute;
  left: 0px;
  top: 50%;
  display: inline-block;
  width: 12px;
  height: 22px;
  z-index: 200;
  transform: translate(0, -50%); }

.anz-right-arrow_margin2 {
  display: inline-block;
  height: 37px;
  width: 39px;
  border-radius: 2px;
  border: 1px solid #acbdcf;
  color: #acbdcf;
  line-height: 34px;
  font-size: 12px;
  margin: 25px 5px; }

.anz-right-arrow_margin2:hover {
  border: 1px solid #0166d4;
  color: #0166d4; }

.anz-right-arrow {
  cursor: pointer; }

.anz-right-arrow_margin {
  background: url(./img/right-arrow.png) no-repeat;
  position: absolute;
  right: 0px;
  top: 50%;
  display: inline-block;
  width: 12px;
  height: 22px;
  z-index: 200;
  transform: translate(0, -50%); }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .anz-item {
    position: absolute;
    top: 0%;
    left: calc(50% + ((50% - 333px)/2));
    width: 50%;
    height: 500px;
    z-index: 100;
    transition: left .5s ease-out;
    opacity: 1; }

  .anz-item-before {
    left: calc(0% + ((50% - 333px)/2));
    z-index: 100;
    opacity: 1; }

  .anz-item-before2 {
    left: calc(-50% + ((50% - 333px)/2));
    z-index: 50 !important;
    opacity: 1; }

  .anz-item-after {
    left: calc(100% + ((50% - 333px)/2));
    z-index: 100;
    opacity: 1; }

  .anz-item-after2 {
    left: calc(150% + ((50% - 333px)/2));
    z-index: 50 !important;
    opacity: 1; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .anz-item {
    position: absolute;
    top: 0%;
    left: calc(100% + ((100% - 333px)/2));
    width: 100%;
    height: 500px;
    z-index: 100;
    transition: left .5s ease-out;
    opacity: 1; }

  .anz-item-before {
    left: calc(0% + ((100% - 333px)/2));
    z-index: 100;
    opacity: 1; }

  .anz-item-before2 {
    left: calc(-100% + ((100% - 333px)/2));
    z-index: 50 !important;
    opacity: 1; }

  .anz-item-after {
    left: calc(200% + ((100% - 333px)/2));
    z-index: 100;
    opacity: 1; }

  .anz-item-after2 {
    left: calc(300% + ((100% - 333px)/2));
    z-index: 50 !important;
    opacity: 1; } }
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 380px) {
  .anz-items {
    position: relative;
    overflow: hidden;
    height: 302px; }

  .anz-item {
    position: absolute;
    top: 0%;
    left: calc(100% + ((100% - 278px)/2));
    width: 100%;
    height: 302px;
    z-index: 100;
    transition: left .5s ease-out;
    opacity: 1; }

  .anz-item-before {
    left: calc(0% + ((100% - 278px)/2));
    z-index: 100;
    opacity: 1; }

  .anz-item-before2 {
    left: calc(-100% + ((100% - 278px)/2));
    z-index: 50 !important;
    opacity: 1; }

  .anz-item-after {
    left: calc(200% + ((100% - 278px)/2));
    z-index: 100;
    opacity: 1; }

  .anz-item-after2 {
    left: calc(300% + ((100% - 278px)/2));
    z-index: 50 !important;
    opacity: 1; } }
/* Custom, iPhone Retina */
/*slider*/
/*slider*/
/*tabs*/
.anz-tab-galary {
  font-size: 0px;
  background: #fff;
  margin-bottom: 40px; }

.anz-relative {
  position: relative; }

.anz-relative_margin {
  height: 112px;
  margin-bottom: 30px; }

.anz-relative_style {
  display: inline-block;
  width: 73px;
  height: 58px;
  margin: 0px 3px 0px 0px; }

.anz-absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2; }

.anz-absolute_style {
  width: 73px; }

.tab_1 ~ .anz-relative .tab_c1,
.tab_2 ~ .anz-relative .tab_c2,
.tab_3 ~ .anz-relative .tab_c3,
.tab_4 ~ .anz-relative .tab_c4 {
  position: absolute;
  top: 0px;
  left: -1000%;
  opacity: 0.6; }

.tab_1:checked ~ .anz-relative .tab_c1,
.tab_2:checked ~ .anz-relative .tab_c2,
.tab_3:checked ~ .anz-relative .tab_c3,
.tab_4:checked ~ .anz-relative .tab_c4 {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity .5s ease-out; }

.anz-tab-galary input[type="radio"] {
  display: none; }

.tab_1:checked ~ .anz-relative .tab_l1,
.tab_2:checked ~ .anz-relative .tab_l2,
.tab_3:checked ~ .anz-relative .tab_l3,
.tab_4:checked ~ .anz-relative .tab_l4 {
  display: inline-block;
  width: 73px;
  border: 1px solid #0f4085;
  position: relative;
  height: 73px;
  cursor: pointer;
  background: #fff;
  margin: 23px 3px 0px 0px; }
  .tab_1:checked ~ .anz-relative .tab_l1 img,
  .tab_2:checked ~ .anz-relative .tab_l2 img,
  .tab_3:checked ~ .anz-relative .tab_l3 img,
  .tab_4:checked ~ .anz-relative .tab_l4 img {
    width: 71px;
    padding: 10px 0px; }

.tab_1 ~ .anz-relative .tab_l1,
.tab_2 ~ .anz-relative .tab_l2,
.tab_3 ~ .anz-relative .tab_l3,
.tab_4 ~ .anz-relative .tab_l4 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 73px;
  height: 73px;
  background: #fff;
  margin: 23px 3px 0px 0px;
  border: 1px solid #c3d1e4; }
  .tab_1 ~ .anz-relative .tab_l1 img,
  .tab_2 ~ .anz-relative .tab_l2 img,
  .tab_3 ~ .anz-relative .tab_l3 img,
  .tab_4 ~ .anz-relative .tab_l4 img {
    width: 71px;
    padding: 10px 0px; }

.tab_1 ~ .anz-relative .tab_l1:before,
.tab_2 ~ .anz-relative .tab_l2:before,
.tab_3 ~ .anz-relative .tab_l3::before,
.tab_4 ~ .anz-relative .tab_l4::before {
  position: absolute;
  left: 0;
  content: '';
  top: 0;
  z-index: 9000;
  background-color: #fff;
  display: block;
  width: 71px;
  height: 71px;
  opacity: 0.5; }

.tab_1:checked ~ .anz-relative .tab_l1:before,
.tab_2:checked ~ .anz-relative .tab_l2:before,
.tab_3:checked ~ .anz-relative .tab_l3:before,
.tab_4:checked ~ .anz-relative .tab_l4:before {
  display: none; }

/*tabs*/
/*products*/
.anz-product {
  background: #0f4085;
  width: 100%;
  text-align: center;
  padding: 30px 10px; }
  .anz-product h1 {
    color: #fff;
    font-family: "RobotoRegular";
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .anz-product .anz-white {
    font-family: "RobotoRegular";
    font-size: 16px;
    letter-spacing: -.02em;
    color: #fff;
    display: block;
    line-height: 28px; }
  .anz-product .anz-items_margin {
    margin-top: 23px; }
  .anz-product .anz-item_style {
    width: 333px;
    height: 498px;
    border-radius: 4px;
    border: 1px solid #103467;
    background: #dae4f2;
    overflow: hidden; }
  .anz-product .tab_c1, .anz-product .tab_c2, .anz-product .tab_c3, .anz-product .tab_c4 {
    width: 331px; }
    .anz-product .tab_c1 img, .anz-product .tab_c2 img, .anz-product .tab_c3 img, .anz-product .tab_c4 img {
      width: 278px; }
  .anz-product .anz-title {
    background: #dae4f2;
    width: 100%;
    height: 53px;
    font-family: "RobotoBold";
    font-size: 20px;
    color: #0f4085;
    display: block;
    line-height: 53px;
    text-transform: uppercase; }
  .anz-product .anz-char {
    display: block;
    font-family: "RobotoRegular";
    letter-spacing: -.02em;
    line-height: 22px;
    font-size: 12px;
    text-align: left; }
  .anz-product .anz-padding {
    padding: 15px; }
  .anz-product a {
    width: 180px;
    height: 46px;
    border-radius: 2px;
    background: #3078c2;
    color: #fff;
    font-family: "RobotoBold";
    font-size: 13.8px;
    line-height: 46px;
    border: 1px solid #3078c2;
    display: inline-block;
    text-transform: uppercase;
    margin: 30px 7px 0px 7px; }
  .anz-product a:hover {
    background: #dae4f2;
    color: #3078c2; }

/*products*/
/*about company*/
.anz-padding2 {
  padding-top: 80px;
  padding-bottom: 100px; }
  .anz-padding2 .anz-title {
    display: block;
    font-family: "RobotoRegular";
    font-size: 27px;
    color: #3078c2;
    text-transform: uppercase;
    margin-bottom: 11px; }
  .anz-padding2 .anz-line {
    width: 100%;
    height: 3px;
    background: #0f4085;
    display: block; }
  .anz-padding2 .anz-subtitle {
    font-family: "RobotoMedium";
    font-size: 21px;
    letter-spacing: .02em;
    display: block;
    white-space: nowrap;
    margin-top: 8px; }
  .anz-padding2 p {
    font-family: "RobotoLight";
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px; }
  .anz-padding2 a {
    display: block;
    width: 152px;
    height: 37px;
    background: #3078c2 url(./img/button-arrow.png) no-repeat 94.5% 14px;
    line-height: 37px;
    border-radius: 3px;
    color: #fff;
    margin-left: -4px;
    margin-top: 16px;
    font-family: "RobotoMedium";
    font-size: 14px;
    padding-left: 13px;
    letter-spacing: .02em;
    text-transform: uppercase; }

.anz-float img {
  float: left;
  margin: 5px; }
.anz-float img:first-child {
  margin-left: 0px; }
.anz-float img:not(img:first-child) {
  float: right;
  margin-right: 0px; }

.clear {
  clear: both; }

/*about company*/
.anz-responsive {
  display: block;
  margin: 0 calc((100% - 1200px)/2); }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /*about company*/
  .anz-padding2 {
    padding: 15px !important; }
    .anz-padding2 .anz-title {
      display: block;
      font-family: "RobotoRegular";
      font-size: 27px;
      color: #3078c2;
      text-transform: uppercase;
      margin-bottom: 11px; }
    .anz-padding2 .anz-line {
      width: 100%;
      height: 3px;
      background: #0f4085;
      display: block; }
    .anz-padding2 .anz-subtitle {
      font-family: "RobotoMedium";
      font-size: 21px;
      letter-spacing: .02em;
      display: block;
      white-space: normal;
      margin-top: 8px; }
    .anz-padding2 p {
      font-family: "RobotoLight";
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px; }
    .anz-padding2 a {
      display: block;
      width: 152px;
      height: 37px;
      background: #3078c2 url(./img/button-arrow.png) no-repeat 94.5% 14px;
      line-height: 37px;
      border-radius: 3px;
      color: #fff;
      margin-left: -4px;
      margin-top: 16px;
      font-family: "RobotoMedium";
      font-size: 14px;
      padding-left: 13px;
      letter-spacing: .02em;
      text-transform: uppercase; }

  .anz-float img {
    width: 35%;
    height: auto;
    float: left;
    margin: 1%; }
  .anz-float img:first-child {
    margin-left: 0px;
    width: 62%;
    height: auto; }
  .anz-float img:not(:first-child) {
    float: right;
    margin-right: 0px; }

  .clear {
    clear: both; }

  /*about company*/ }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .anz-responsive {
    margin: 0px;
    display: block;
    max-width: 100%;
    height: auto; }

  /*road*/
  .container_style {
    background: url(./img/backgroung-road.jpg) no-repeat calc(50% - 240px) top;
    padding-bottom: 15px; }

  .anz-fin {
    font-family: "RobotoBold";
    font-size: 31px;
    letter-spacing: .065em;
    color: #fff;
    padding-top: 30px;
    display: block;
    margin-left: 0px;
    text-align: center; }

  .anz-solve {
    font-family: "RobotoLight";
    font-size: 18px;
    letter-spacing: .05em;
    color: #fff;
    margin-top: 10px;
    display: block;
    margin-left: 0px;
    text-align: center; }

  .anz-button {
    display: block;
    width: 278px;
    height: 63px;
    background: #fff;
    line-height: 63px;
    border-radius: 3px;
    color: #1f4d8d;
    font-family: "RobotoBold";
    font-size: 17px;
    padding-left: 0px;
    letter-spacing: -.03em;
    border-bottom: 2px solid #c7c7c7;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    margin-top: 264px; }

  .no-one {
    display: none; }

  /*road*/ }
/* Small Devices, Tablets */
@media only screen and (max-width: 752px) {
  /*road*/
  .container_style {
    background: url(./img/backgroung-road.jpg) no-repeat calc(50% - 248px) top; }

  /*road*/ }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .anz-background {
    background: none;
    padding: 0px 0px; }
    .anz-background div[class|="col"] {
      padding-left: 0px;
      padding-right: 0px; }

  /*slider*/
  /*slider*/
  .anz-left-arrow_margin {
    display: none; }

  .anz-right-arrow_margin {
    display: none; }

  /*slider*/
  /*slider*/
  /*about company*/
  .anz-padding2 {
    padding: 15px !important; }
    .anz-padding2 .anz-title {
      display: block;
      text-align: center;
      font-family: "RobotoRegular";
      font-size: 27px;
      color: #3078c2;
      text-transform: uppercase;
      margin-bottom: 11px; }
    .anz-padding2 .anz-line {
      width: 100%;
      height: 3px;
      background: #0f4085;
      display: block; }
    .anz-padding2 .anz-subtitle {
      font-family: "RobotoMedium";
      font-size: 21px;
      letter-spacing: .02em;
      text-align: center;
      display: block;
      white-space: normal;
      margin-top: 8px; }

  /*about company*/ }
@media only screen and (max-width: 380px) {
  /*products*/
  .anz-product {
    background: #0f4085;
    width: 100%;
    text-align: center;
    padding: 30px 10px; }
    .anz-product h1 {
      color: #fff;
      font-family: "RobotoRegular";
      font-size: 27px;
      text-transform: uppercase;
      margin-bottom: 8px; }
    .anz-product .anz-white {
      font-family: "RobotoRegular";
      font-size: 16px;
      letter-spacing: -.02em;
      color: #fff;
      display: block;
      line-height: 28px; }
    .anz-product .anz-items_margin {
      margin-top: 23px; }
    .anz-product .anz-item_style {
      width: 278px;
      height: 302px;
      border-radius: 4px;
      border: 1px solid #103467;
      background: #fff;
      overflow: hidden; }
    .anz-product .tab_c1, .anz-product .tab_c2, .anz-product .tab_c3, .anz-product .tab_c4 {
      width: 273px; }
      .anz-product .tab_c1 img, .anz-product .tab_c2 img, .anz-product .tab_c3 img, .anz-product .tab_c4 img {
        width: 90%; }
    .anz-product .anz-title {
      background: #dae4f2;
      width: 100%;
      height: 53px;
      font-family: "RobotoBold";
      font-size: 20px;
      color: #0f4085;
      display: block;
      line-height: 53px;
      text-transform: uppercase; }
    .anz-product .anz-char {
      display: none; }
    .anz-product .anz-padding {
      padding: 13px; }
    .anz-product a {
      width: 117px;
      height: 40px;
      border-radius: 2px;
      background: #3078c2;
      color: #fff;
      font-family: "RobotoBold";
      font-size: 11.8px;
      line-height: 40px;
      border: 1px solid #3078c2;
      display: inline-block;
      text-transform: uppercase;
      margin: 18px 2px 0px 2px; }
    .anz-product a:hover {
      background: #dae4f2;
      color: #3078c2; }
    .anz-product .anz-relative_style {
      display: none; }

  /*products*/ }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /*products*/
  .anz-product .tab_c1, .anz-product .tab_c2, .anz-product .tab_c3, .anz-product .tab_c4 {
    width: 273px; }
    .anz-product .tab_c1 img, .anz-product .tab_c2 img, .anz-product .tab_c3 img, .anz-product .tab_c4 img {
      width: 76%; }

  /*products*/ }
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=style3.css.map */
