.no-padding {
  padding-left: 0;
  padding-right: 0; }

.ah-wrapper {
  background-color: white;
  box-shadow: 5px 8.7px 49px rgba(12, 61, 130, 0.22);
  margin: 45px 0;
  padding-left: 49px;
  padding-top: 16px;
  padding-bottom: 46px; }

.ah-h1 {
  display: inline-block;
  position: relative;
  text-transform: uppercase; }

.ah-h1:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  top: 41px;
  background-color: #1b4b90; }

.kama_breadcrumbs {
  margin-bottom: 7px;
  font-family: "RobotoLight";
  font-size: 13px; }
  .kama_breadcrumbs span {
    display: inline-block !important;
    font-family: "RobotoLight";
    font-size: 13px;
    text-decoration: underline;
    color: #0f4085 !important; }

.ah-img-block {
  display: block;
  margin-left: 21px;
  margin-top: 7px; }

.ah-cart-list2 li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 17px; }
  .ah-cart-list2 li img {
    width: 135px;
    height: 90px;
    border: 1px solid #dedede; }
.ah-cart-list2 li:last-child {
  margin-right: 0; }

.ah-cart-span {
  display: block;
  font-family: "RobotoRegular";
  font-size: 20px;
  line-height: 24px;
  color: #585858;
  margin-top: 51px;
  margin-bottom: 14px; }

.ah-cart-text {
  display: block;
  font-family: "RobotoLight";
  font-size: 16px;
  line-height: 24px;
  color: #585858;
  padding-right: 30px; }

.ah-cart-list3 {
  margin-top: 27px;
  margin-left: -24px;
  margin-bottom: 17px; }

.ah-cart-list4 {
  margin: 17px 0;
  margin-left: -24px; }

.ah-cart-list5 {
  margin: 17px 0;
  margin-left: -24px; }

.ah-cart-list3 li, .ah-cart-list4 li, .ah-cart-list5 li {
  display: block;
  font-family: "RobotoRegular";
  font-size: 16px;
  line-height: 35px;
  color: #262626; }

.ah-cart-link1 {
  display: inline-block;
  width: 226px;
  height: 51px;
  background-color: #1e4e93;
  color: #fff;
  font-family: "RobotoRegular";
  font-size: 16px;
  line-height: 49px;
  text-align: center;
  margin-left: -28px;
  margin-top: 23px;
  border-radius: 4px;
  border: 2px solid #1b4b90; }

.ah-cart-link1:hover {
  background-color: white;
  color: #18498d;
  border: 2px solid #1b4b90; }

.ah-img-optoblock {
  width: 100%;
  height: 486px;
  background: url(./img/ah-optovikam.jpg) center top no-repeat; }

.ah-optovikam-link {
  display: inline-block;
  width: 258px;
  height: 51px;
  background-color: #1e4e93;
  color: #fff;
  font-family: "RobotoRegular";
  font-size: 16px;
  line-height: 51px;
  text-align: center;
  border-radius: 4px;
  margin-top: 362px; }

.ah-cart-link2 {
  display: inline-block;
  width: 226px;
  height: 51px;
  background-color: #1e4e93;
  margin-left: 7px;
  color: #fff;
  font-family: "RobotoRegular";
  font-size: 16px;
  line-height: 49px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #1b4b90; }

.ah-cart-link2:hover {
  background-color: white;
  color: #18498d;
  border: 2px solid #1b4b90; }

.ah-form2_submit {
  padding: 0 !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.ah-contactwrapper {
  text-align: center;
  background-color: white;
  box-shadow: 5px 8.7px 49px rgba(12, 61, 130, 0.22);
  margin: 37px 0; }
  .ah-contactwrapper span {
    display: block;
    font-family: "RobotoRegular";
    color: #585858; }
  .ah-contactwrapper p {
    font-family: "RobotoRegular";
    font-size: 16px;
    line-height: 26px;
    color: #585858;
    margin-bottom: 57px; }

.ah-contactwrapper1 {
  padding: 20px; }

.ah-company {
  text-align: center;
  background-color: white;
  box-shadow: 5px 8.7px 49px rgba(12, 61, 130, 0.22);
  margin: 37px 0;
  overflow: hidden; }
  .ah-company p {
    text-align: left;
    font-family: "RobotoLight" !important;
    font-size: 16px;
    line-height: 24px;
    color: #585858; }
  .ah-company ul {
    text-align: left;
    margin: 20px 0; }
    .ah-company ul li {
      font-family: "RobotoLight" !important;
      font-size: 16px;
      line-height: 24px;
      color: #585858;
      background: url(./img/ah-compani1.png) left center no-repeat;
      padding-left: 15px; }

.ah-optowrapper {
  text-align: center;
  background-color: white;
  box-shadow: 5px 8.7px 49px rgba(12, 61, 130, 0.22);
  margin: 37px 0; }
  .ah-optowrapper p {
    text-align: left;
    font-family: "RobotoLight" !important;
    font-size: 16px;
    line-height: 24px;
    color: #585858; }

.ah-company1 {
  padding: 40px; }

.ah-optowrapper1 {
  padding: 40px; }

.ah-contact-margin {
  margin-top: 27px;
  margin-bottom: 21px; }

.ah-contacts-span {
  font-size: 20px;
  line-height: 26px; }

.ah-contacts-span1 {
  font-family: "RobotoLight" !important;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 31px;
  margin-top: 3px; }

.ah-contacts-span2 {
  font-size: 20px;
  line-height: 26px; }

.ah-contacts-span3 {
  font-family: "RobotoLight" !important;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px; }

.ah-contacts-span4 {
  font-size: 20px;
  line-height: 41px; }

.ah-contacts-span5 {
  font-size: 27px;
  line-height: 33px;
  margin-bottom: 3px; }

.ah-contacts-span6 {
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 40px;
  background: url(./img/ah-contacts3.png) calc(50% - 127px) center no-repeat; }

.ah-contacts-span7 {
  font-size: 20px;
  line-height: 41px;
  margin-bottom: 16px; }

#map {
  height: 469px; }

.ah-product1 {
  background: #fff !important;
  padding: 30px 60px !important; }
  .ah-product1 span {
    font-family: "RobotoRegular";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em; }

.ah-catalog-title {
  font-family: "RobotoRegular";
  font-size: 27px;
  text-transform: uppercase; }

.ah-catalog-border {
  border: 3px solid #ced9e9;
  margin: 33px 43px; }

.ah-relative {
  margin-bottom: 55px !important; }

.ah-background {
  background: #fff !important;
  text-align: left !important;
  font-family: "RobotoBold";
  font-size: 24px !important; }

.ah-catalog-padding {
  padding-bottom: 50px !important; }

.ah-f-email span {
  padding-left: 0 !important; }

.ah-f-copyright {
  margin-top: 7px; }

.ah-thanks2 {
  text-align: center; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .ah-common-form {
    width: 100% !important;
    padding: 30px !important; }

  .ah-right-block {
    text-align: center; }

  .ah-contactwrapper1 {
    padding: 0 10px; }

  .ah-contacts-span6 {
    margin-bottom: 0;
    margin-left: 22px; }

  .ah-contacts-span3 {
    margin-bottom: 0; }

  .ah-contacts-span1 {
    margin-bottom: 10px; }

  .ah-contactwrapper p {
    margin-bottom: 10px; }

  .ah-background {
    text-align: center !important; }

  .ah-catalog-border {
    margin: 0 !important;
    margin-top: 10px !important;
    padding-left: 0;
    padding-right: 0; }

  .ah-product1 {
    padding: 20px !important; }

  .ah-f-email span {
    margin-left: 36px; }

  .ah-f-copyright {
    text-align: center !important; }

  .ah-optowrapper1 {
    padding: 20px; }

  .ah-optowrapper {
    box-shadow: none; }
    .ah-optowrapper p {
      text-align: center; }

  .ah-optovikam-link {
    margin-top: 164px; }

  .ah-img-optoblock {
    background-size: cover;
    height: 243px; }

  .ah-company {
    box-shadow: none;
    margin: 20px 0; }
    .ah-company p {
      text-align: left; }
    .ah-company ul {
      text-align: left; }

  .ah-h1:before {
    top: 35px !important; }

  .ah-h1 {
    font-size: 24px !important; }

  .ah-wrapper {
    box-shadow: none;
    margin-top: 20px;
    padding-left: 20px;
    padding-bottom: 25px !important;
    margin: 0 !important; }

  .ah-img-block {
    margin: 0 auto;
    margin-top: 7px; }

  .ah-cart-list2 {
    width: 100%; }
    .ah-cart-list2 li {
      margin-right: 6px !important;
      margin-top: 10px;
      width: 29.33%;
      text-align: center; }
      .ah-cart-list2 li img {
        width: 75px;
        height: 50px; }

  .ah-cart-span {
    margin-top: 20px;
    text-align: center; }

  .ah-cart-text {
    padding-right: 0px;
    text-align: center; }

  .ah-cart-list3 {
    margin-top: 17px;
    margin-left: 0; }
    .ah-cart-list3 li {
      font-size: 14px; }

  .ah-cart-list4 {
    margin-left: 0; }
    .ah-cart-list4 li {
      font-size: 14px; }

  .ah-cart-list5 {
    margin-left: 0; }
    .ah-cart-list5 li {
      font-size: 14px; }

  .ah-cart-link1 {
    display: block !important;
    margin: 0 auto;
    margin-top: 0 !important; }

  .ah-cart-link2 {
    display: block !important;
    margin: 0 auto;
    margin-top: 20px; } }
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .ah-cart-link1 {
    width: 258px; }

  .ah-cart-link2 {
    width: 258px; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/***************/

/*# sourceMappingURL=style2.css.map */
