
.anz-background{
	background: url(./img/backgroung.jpg) no-repeat center top;
	padding: 45px 0px;
}

/*road*/

.container_style{
	background: url(./img/backgroung-road.jpg) no-repeat center top;
	//margin-top: 45px;
	height: 500px;
}

.anz-fin{
	font-family: "RobotoBold";
	font-size: 47px;
	letter-spacing: .065em;
	color: #fff;
	margin-top: 115px;
	display: block;
	margin-left: 56px;
}
.anz-solve{
	font-family: "RobotoRegular";
	font-size: 25.5px;
	letter-spacing: .05em;
	color: #fff;
	margin-top: 10px;
	display: block;
	margin-left: 55px;
}
.anz-button{
	display: block;
	width: 338px;
	height: 63px;
	background: #0f4085 url(./img/button-arrow.png) no-repeat 94.5% 28px;
	line-height: 63px;
	border-radius: 3px;
	color: #fff;
	margin-left: 50px;
	margin-top: 38px;
	font-family: "RobotoMedium";
	font-size: 15px;
	padding-left: 26px;
	letter-spacing: -.02em;
	border-bottom: 2px solid #0c3268;	
	text-transform: uppercase;
}
.no-one{
	font-family: "RobotoLight";
	font-size: 18px;
	color: #fff;
	margin-left: 55px;
	margin-top: 20px;
	display: block;
}
/*road*/

/*slider*/
.item{
	height: 100px;
	width: 100px;
	outline: 1px solid #0f0;
}
/*slider*/



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}