.anz-background {
  background: url(./img/backgroung.jpg) no-repeat center top;
  padding: 45px 0px; }

/*road*/
.container_style {
  background: url(./img/backgroung-road.jpg) no-repeat center top;
  height: 500px; }

.anz-fin {
  font-family: "RobotoBold";
  font-size: 47px;
  letter-spacing: .065em;
  color: #fff;
  margin-top: 115px;
  display: block;
  margin-left: 56px; }

.anz-solve {
  font-family: "RobotoRegular";
  font-size: 25.5px;
  letter-spacing: .05em;
  color: #fff;
  margin-top: 10px;
  display: block;
  margin-left: 55px; }

.anz-button {
  display: block;
  width: 338px;
  height: 63px;
  background: #0f4085 url(./img/button-arrow.png) no-repeat 94.5% 28px;
  line-height: 63px;
  border-radius: 3px;
  color: #fff;
  margin-left: 50px;
  margin-top: 38px;
  font-family: "RobotoMedium";
  font-size: 15px;
  padding-left: 26px;
  letter-spacing: -.02em;
  border-bottom: 2px solid #0c3268;
  text-transform: uppercase; }

.no-one {
  font-family: "RobotoLight";
  font-size: 18px;
  color: #fff;
  margin-left: 55px;
  margin-top: 20px;
  display: block; }

/*road*/
/*slider*/
/*slider*/
.anz-none {
  display: none !important; }

.anz-items {
  position: relative;
  overflow: hidden;
  height: 500px; }

.anz-item {
  position: absolute;
  top: 0%;
  left: 33.3%;
  width: 33.3%;
  height: 500px;
  z-index: 100;
  transition: left .5s ease-out;
  opacity: 1; }

.anz-item-before {
  left: 0%;
  z-index: 100;
  opacity: 1; }

.anz-item-before2 {
  left: -33.3%;
  z-index: 50 !important;
  opacity: 1; }

.anz-item-after {
  left: 66.6%;
  z-index: 100;
  opacity: 1; }

.anz-item-after2 {
  left: 100%;
  z-index: 50 !important;
  opacity: 1; }

.anz-item-hidden {
  display: none;
  opacity: 0;
  z-index: 30 !important; }

.anz-left-arrow {
  cursor: pointer;
  background: url(./img/left-arrow.png) no-repeat;
  position: absolute;
  left: 46px;
  top: 50%;
  display: inline-block;
  width: 96px;
  height: 52px;
  z-index: 200;
  transform: translate(0, -50%); }

.anz-right-arrow {
  cursor: pointer;
  background: url(./img/right-arrow.png) no-repeat;
  position: absolute;
  right: 46px;
  top: 50%;
  display: inline-block;
  width: 96px;
  height: 52px;
  z-index: 200;
  transform: translate(0, -50%); }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .anz-item {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 500px;
    z-index: 100;
    transition: left .5s ease-out;
    opacity: 1; }

  .anz-item-before {
    left: -50%;
    z-index: 100;
    opacity: 1; }

  .anz-item-before2 {
    left: -100%;
    z-index: 50 !important;
    opacity: 1; }

  .anz-item-after {
    left: 50%;
    z-index: 100;
    opacity: 1; }

  .anz-item-after2 {
    left: 100%;
    z-index: 50 !important;
    opacity: 1; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .anz-item {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 500px;
    z-index: 100;
    transition: left .5s ease-out;
    opacity: 1; }

  .anz-item-before {
    left: -100%;
    z-index: 100;
    opacity: 1; }

  .anz-item-before2 {
    left: -200%;
    z-index: 50 !important;
    opacity: 1; }

  .anz-item-after {
    left: 100%;
    z-index: 100;
    opacity: 1; }

  .anz-item-after2 {
    left: 200%;
    z-index: 50 !important;
    opacity: 1; } }
/* Custom, iPhone Retina */
/*slider*/
/*slider*/
/*tabs*/
.anz-rel {
  position: relative; }

#tab_1 ~ #tab_c1,
#tab_2 ~ #tab_c2,
#tab_3 ~ #tab_c3,
#tab_4 ~ #tab_c4 {
  display: block; }

#tab_1:checked ~ #tab_c1,
#tab_2:checked ~ #tab_c2,
#tab_3:checked ~ #tab_c3,
#tab_4:checked ~ #tab_c4 {
  display: block; }

/*tabs*/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=style3.css.map */
