
.anz-background{
	background: url(./img/backgroung.jpg) no-repeat center top;
	padding: 45px 0px;
}

/*road*/

.container_style{
	background: url(./img/backgroung-road.jpg) no-repeat center top;
	//margin-top: 45px;
	//height: 500px;
}

.anz-fin{
	font-family: "RobotoBold";
	font-size: 47px;
	letter-spacing: .065em;
	color: #fff;
	padding-top: 115px;
	display: block;
	margin-left: 56px;
}
.anz-solve{
	font-family: "RobotoRegular";
	font-size: 25.5px;
	letter-spacing: .05em;
	color: #fff;
	margin-top: 10px;
	display: block;
	margin-left: 55px;
}
.anz-button{
	display: block;
	width: 338px;
	height: 63px;
	background: #0f4085 url(./img/button-arrow.png) no-repeat 94.5% 28px;
	line-height: 63px;
	border-radius: 3px;
	color: #fff;
	margin-left: 50px;
	margin-top: 38px;
	font-family: "RobotoMedium";
	font-size: 15px;
	padding-left: 26px;
	letter-spacing: -.02em;
	border-bottom: 2px solid #0c3268;	
	text-transform: uppercase;
}
.no-one{
	font-family: "RobotoLight";
	font-size: 18px;
	color: #fff;
	margin-left: 55px;
	margin-top: 20px;
	display: block;
	padding-bottom: 120px;
}
/*road*/






/*slider*/
/*slider*/
.anz-none{
    display:none !important;
}
.anz-items{
    position:relative;
    overflow: hidden;
    height: 500px;
}
.anz-item{
    position:absolute;
    top: 0%;
    left: calc(33.3% + ((33.3% - 333px)/2));
    width: 33.3%;
    height: 500px;
    z-index: 100;
    transition: left .5s ease-out;
    opacity: 1;
}
.anz-item-before{
    left: calc(0% + ((33.3% - 333px)/2));
    z-index: 100;
    opacity: 1;
    //transition: all 1s ease-out 1s !important;
}
.anz-item-before2{
    left: calc(-33.3% + ((33.3% - 333px)/2));
    z-index: 50 !important;
    opacity: 1;
    //transition: all 1s ease-out 1s !important;
}
.anz-item-after{
    left: calc(66.6% + ((33.3% - 333px)/2));
    z-index: 100;
    opacity: 1;
    //transition: all 1s ease-out 1s !important;

}
.anz-item-after2{
    left: calc(100% + ((33.3% - 333px)/2));
    z-index: 50 !important;
    opacity: 1;
    //transition: all 1s ease-out 1s !important;

}
.anz-item-hidden{
    display: none;
    opacity: 0;
    z-index: 30 !important;
    //transition: right 1s ease-out 1s !important;
}
.anz-left-arrow{
cursor: pointer;
background: url(./img/left-arrow.png) no-repeat;
position: absolute;
left: 46px;
top: 50%;
display:inline-block;
width: 96px;
height: 52px;
z-index: 200;
transform: translate(0, -50%);
}
.anz-right-arrow{
cursor: pointer;
background: url(./img/right-arrow.png) no-repeat;
position: absolute;
right: 46px;
top: 50%;
display:inline-block;
width: 96px;
height: 52px;
z-index: 200;
transform: translate(0, -50%);
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  	.anz-item{
	    position:absolute;
	    top: 0%;
	    left: calc(50% + ((50% - 333px)/2));
	    width: 50%;
	    height: 500px;
	    z-index: 100;
	    transition: left .5s ease-out;
	    opacity: 1;
	}
	.anz-item-before{
	    left: calc(0% + ((50% - 333px)/2));
	    z-index: 100;
	    opacity: 1;
	    //transition: all 1s ease-out 1s !important;
	}
	.anz-item-before2{
	    left: calc(-50% + ((50% - 333px)/2));
	    z-index: 50 !important;
	    opacity: 1;
	    //transition: all 1s ease-out 1s !important;
	}
	.anz-item-after{
	    left: calc(100% + ((50% - 333px)/2));
	    z-index: 100;
	    opacity: 1;
	    //transition: all 1s ease-out 1s !important;

	}
	.anz-item-after2{
	    left: calc(150% + ((50% - 333px)/2));
	    z-index: 50 !important;
	    opacity: 1;
	    //transition: all 1s ease-out 1s !important;

	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.anz-item{
	    position:absolute;
	    top: 0%;
	    left: calc(100% + ((100% - 333px)/2));
	    width: 100%;
	    height: 500px;
	    z-index: 100;
	    transition: left .5s ease-out;
	    opacity: 1;
	}
	.anz-item-before{
	    left: calc(0% + ((100% - 333px)/2));
	    z-index: 100;
	    opacity: 1;
	    //transition: all 1s ease-out 1s !important;
	}
	.anz-item-before2{
	    left: calc(-100% + ((100% - 333px)/2));
	    z-index: 50 !important;
	    opacity: 1;
	    //transition: all 1s ease-out 1s !important;
	}
	.anz-item-after{
	    left: calc(200% + ((100% - 333px)/2));
	    z-index: 100;
	    opacity: 1;
	    //transition: all 1s ease-out 1s !important;

	}
	.anz-item-after2{
	    left: calc(300% + ((100% - 333px)/2));
	    z-index: 50 !important;
	    opacity: 1;
	    //transition: all 1s ease-out 1s !important;

	}

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}
/*slider*/
/*slider*/





/*tabs*/
.anz-tab-galary{
	//position: relative;
	//overflow: hidden;
font-size: 0px;
background: #fff;
margin-bottom: 40px;
}

.anz-relative{
position: relative;

//width: 300px;


}
.anz-relative_margin{
height: 112px;
    margin-bottom: 30px;
}
.anz-relative_style{
	display: inline-block;
	//margin: 23px 3px 0px 0px;
	width: 73px;
	height: 58px;
	margin: 0px 3px 0px 0px;
}
.anz-absolute{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.anz-absolute_style{
width: 73px;
}
.tab_1 ~ .anz-relative .tab_c1,
.tab_2 ~ .anz-relative .tab_c2,
.tab_3 ~ .anz-relative .tab_c3,
.tab_4 ~ .anz-relative .tab_c4{
	position: absolute;
	top: 0px;
	left: -1000%;
	opacity: 0.6;
}
.tab_1:checked ~ .anz-relative .tab_c1,
.tab_2:checked ~ .anz-relative .tab_c2,
.tab_3:checked ~ .anz-relative .tab_c3,
.tab_4:checked ~ .anz-relative .tab_c4{
	position: absolute;
	top: 0px;
	left: 0%;
	opacity: 1;
	transition: opacity .5s ease-out;
}

.anz-tab-galary input[type="radio"]{
	display: none;
}

.tab_1:checked ~ .anz-relative .tab_l1,
.tab_2:checked ~ .anz-relative .tab_l2,
.tab_3:checked ~ .anz-relative .tab_l3,
.tab_4:checked ~ .anz-relative .tab_l4{
	display: inline-block;
	width: 73px;
	border: 1px solid #0f4085;
	position: relative;
	height: 73px;
	cursor: pointer;
	background: #fff;
	margin: 23px 3px 0px 0px;
	//margin: 23px 0px;
	//height: 69px;
	img{
		width: 71px;
		padding: 10px 0px;
	//height: 69px;	
	}
}

.tab_1 ~ .anz-relative .tab_l1,
.tab_2 ~ .anz-relative .tab_l2,
.tab_3 ~ .anz-relative .tab_l3,
.tab_4 ~ .anz-relative .tab_l4{
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 73px;
	height: 73px;
	background: #fff;
	margin: 23px 3px 0px 0px;
	border: 1px solid #c3d1e4;
	img{
		width: 71px;
		padding: 10px 0px;
	}
}


.tab_1 ~ .tab_l1:before,
.tab_2 ~ .tab_l2:before,
.tab_3 ~ .tab_l3::before,
.tab_4 ~ .tab_l4::before{
position:absolute;
left:0;
content: '';
top:0;
z-index:9000;
background-color:#fff;
display:block;
width: 71px;
height: 47px;
opacity: 0.5;

}

.tab_1:checked ~ .tab_l1:before,
.tab_2:checked ~ .tab_l2:before,
.tab_3:checked ~ .tab_l3:before,
.tab_4:checked ~ .tab_l4:before{
display:none;
}

/*tabs*/

/*products*/
.anz-product{
	background: #0f4085;
	width: 100%;
	height: 761px;
	text-align: center;
	padding: 30px;
	h1{
		color: #fff;
		font-family: "RobotoRegular";
		font-size: 27px;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	.anz-white{
		font-family: "RobotoRegular";
		font-size: 16px;
		letter-spacing: -.02em;
		color: #fff;
		display: block;
		line-height: 28px;
	}
	.anz-items_margin{
		margin-top: 23px;
	}
	.anz-item_style{
		width: 333px;
		height: 498px;
		border-radius: 4px;
		border: 1px solid #103467;
		background: #dae4f2;
		overflow: hidden;
	}
	.tab_c1,.tab_c2,.tab_c3,.tab_c4{
		width: 331px;
		img{width:278px;}
	}
	
	.anz-title{
		background: #dae4f2;
		width: 100%;
		height: 53px;
		font-family: "RobotoBold";
		font-size: 20px;
		color: #0f4085;
		display: block;
		line-height: 53px;
		text-transform: uppercase; 
	}
	.anz-char{
		display: block;
		font-family: "RobotoRegular";
		letter-spacing: -.02em;
		line-height: 22px;
		font-size: 12px;
		text-align: left;
	}
	.anz-padding{
		padding: 15px;
	}
	a{
		width: 134px;
		height: 46px;
		border-radius: 2px;
		background: #3078c2;
		color: #fff;
		font-family: "RobotoBold";
		font-size: 13.8px;
		line-height: 46px;
		border: 1px solid #3078c2;
		display: inline-block;
		text-transform: uppercase;
		margin: 30px 7px 0px 7px;
	}
	a:hover{
		background: #dae4f2;
		color: #3078c2;
	}

}

/*products*/




/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	

}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}